@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top__nav_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .logo {

        &__img {
            width: 99px;
        }
    }

    .top {
        &_header {
            height: 57px;
            display: flex;
            padding: 16px 0px;
            justify-content: space-between;
            align-items: center;
            border-bottom: none;
            padding-top: 32px;
        }

        &__content {
            font-size: 48px;
            text-align: center;
        }

        &__title {
            margin-top: 13px;
            font-size: 48px;


            &_second {
                margin-top: 66px;
            }
        }

        &__text {
            text-align: center;
            font-size: 16px;
            font-weight: 400;

            margin-bottom: 0px;

        }

        &__link {
            font-size: 14px;
        }
    }

    .header {
        height: 57px;
        display: flex;
        padding: 16px 0px;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;
        padding-top: 32px;

        &__input {
            display: none;
        }

        &__nav {
            display: none;
        }
    }

    .title {
        font-size: 48px;
        margin-top: 82px;
    }

    .link-box__top {
        margin-top: 32px;
        gap: 16px;
    }

    .link-box {
        &__link {
            font-size: 14px;
        }

        &__tild {
            font-size: 14px;
        }
    }

    .for-box {
        padding-top: 32px;

        &__title {
            font-size: 24px;
        }

        &__for {
            margin-top: 32px;
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(4, 1fr);
        }

        &__item {
            height: 375px;
            grid-column: span 4;
            color: #FFF;
            font-size: 28px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;

            &_big {
                grid-column: span 4;
                height: 244px;
            }
        }
    }

    .product-box {
        margin-top: 32px;
        margin-bottom: 32px;


        &__content {
            row-gap: 32px;

        }

        &__title {
            font-size: 24px;
        }
    }

    .mid__title {
        font-size: 24px;

    }

    .catalog {
        margin-top: 0px;
    }

    .product {

        &__name {
            font-size: 18px;
            margin-top: 9px;
            margin-bottom: 4px;
        }

        &__text {
            margin-bottom: 8px;
        }

        &__price {
            font-size: 18px;
        }

        &__price_old {
            font-size: 18px;
        }

        &__img {
            height: 226px;
        }
    }

    .footer {
        margin-top: 32px;
        padding-bottom: 32px;

        &__content-box {
            justify-content: center;
            gap: 47px;
        }

        &__info {
            gap: 100px;
        }

        &_from-text {
            font-size: 12px;
        }


    }

    .footer__network-box {
        display: none;
    }

    .cart {
        margin-top: 92px;

        &__form {
            width: 343px;
        }

        &__item-box {
            padding-top: 18px;
            padding-bottom: 24px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 16px;

        }

        &__input {
            grid-column: span 1;

        }

        &__name-box {
            display: none;
        }

        &__button-box {
            gap: 14px;
        }

        &__button {
            width: 166px;
        }

        &__form {
            margin-bottom: 16px;
        }


    }

    .item {
        grid-column: span 3;
        height: 150px;

        &__img {
            display: none;
        }

        &__name {
            font-size: 18px;
        }

        &__text {
            font-size: 12px;
            margin-top: 8px;
            margin-bottom: 15px;
        }

        &__price {
            font-size: 12px;
            padding-bottom: 15px;
        }

        .mid__title {
            font-size: 24px;
        }
    }

    .form-box {
        font-size: 14px;
    }

    .bottom__link::after {
        content: "показать ещё";
    }
}